import { Component } from '@angular/core';
import { RouterLink, RouterOutlet } from '@angular/router';
import { NgIf } from '@angular/common';

@Component({
  selector: 'app-root',
  standalone: true,
  imports: [RouterLink, RouterOutlet, NgIf],
  template: `
    <nav style="display:flex; gap:12px; padding:8px 12px; align-items:center; border-bottom: 1px solid #eee;">
      <a routerLink="" style="text-decoration:none;">Dashboard</a>
      <a routerLink="books" style="text-decoration:none;">Libros</a>
      <a routerLink="loans" style="text-decoration:none;">Préstamos</a>
      <button (click)="logout()" style="border:none;background:#eee;padding:6px 10px;border-radius:6px;cursor:pointer">Salir</button>
    </nav>

    <router-outlet></router-outlet>
  `,
})
export class AppComponent {}
